xcuserdata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
*.DS_Store
*.o
*.dSYM
*.dylib
*.sdf
*.exp
*.pdb
*.ilk
*.suo
*.db
.vs/
x64/

